<div fxLayout="row wrap" fxLayoutAlign="center" fxLayoutGap="5px">
  <div *ngFor="let id of publishers">
    <app-target
      [targetLabel]="'Publisher #' + id"
      [isRemovable]="true"
      (sendMessage)="onPushMessage(id, $event)"
      (finishSubject)="onCompleteSubject(id)"
      (createSubject)="onCreateSubject(id)"
      (disposeSubject)="onDisposeSubject(id)"
      (removePublisher)="onRemovePublisher(id)"
    >
      <!-- <div content>
        <ng-content select="[content]"></ng-content>
      </div> -->
    </app-target>
  </div>
  <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px">
    <button mat-raised-button (click)="onNewPublisher()">Add New Publisher</button>
    <button mat-stroked-button (click)="onRemoveAllPublishers()">Remove All Publishers</button>
  </div>
</div>
