<div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10px" style="margin-bottom: 1em">
  <button mat-raised-button (click)="onAddSubscriber()">Add New Subscriber</button>
  <button mat-stroked-button (click)="onRemoveAllSubscribers()">Remove All Subscribers</button>
</div>
<div fxLayout="row wrap" fxLayoutAlign="center center" fxLayoutGap="5px">
  <app-subscriber
    *ngFor="let id of subscriberIds"
    [target$]="target$"
    [subscriberLabel]="id"
    (removeSubscriber)="onRemoveSubscriber(id)"
    fxFlex="auto"
  >
  </app-subscriber>
</div>
