<!-- <div fxLayout="column" fxLayoutAlign="center">
</div> -->
<div fxLayout="row wrap" fxLayoutAlign="center" fxLayoutGap="5px">
  <app-subscriber
    *ngFor="let id of subscriberIds"
    [target$]="target$"
    [subscriberLabel]="id"
    (removeSubscriber)="onRemoveSubscriber(id)"
    fxFlex="auto"
  >
  </app-subscriber>
  <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px">
    <button mat-raised-button (click)="onAddSubscriber()">Add New Subscriber</button>
    <button mat-stroked-button (click)="onRemoveAllSubscribers()">Remove All Subscribers</button>
  </div>
</div>
