<div fxLayout="column" fxLayoutAlign="space-between stretch" fxLayoutGap="20px">
  <div class="rounded-border" fxLayout="column" fxLayoutAlign="center stretch">
    <h1>Publisher</h1>
    <mat-form-field class="full-width-form" appearance="outline">
      <mat-label>Number of Sequence</mat-label>
      <input matInput type="number" [(ngModel)]="wordCount">
    </mat-form-field>
  </div>
  <app-subscriber-parent [target$]="target$" [isTargetInitialized]="isTargetInitialized">
  </app-subscriber-parent>
</div>
