<div fxLayout="column" fxLayoutAlign="space-between" fxLayoutGap="20px">
  <app-target
    [targetLabel]="targetLabel"
    [description]="description"
    (sendMessage)="onPushMessage($event)"
    (finishSubject)="onCompleteSubject()"
    (createSubject)="onCreateSubject()"
    (disposeSubject)="onDisposeSubject()"
  >
    <div content fxLayout="row" fxLayoutGap="5px">
      <mat-form-field class="full-width-form" appearance="outline">
        <mat-label>Start With Value</mat-label>
        <input matInput type="text" [(ngModel)]="startWithValue">
      </mat-form-field>
    </div>
  </app-target>
  <app-subscriber-parent
    [target$]="target$"
  >
  </app-subscriber-parent>
</div>
