// .sidenav-container {
//   position: absolute;
//   top: 0;
//   bottom: 0;
//   left: 0;
//   right: 0;
// }

// .toolbar-container {
//   position: fixed;
//   top: 0;
//   bottom: 0;
//   left: 0;
//   right: 0;
// }

.content-container {
  padding-top: 2rem;
  display: grid;
  place-items: center;
}

mat-sidenav {
    margin: 16px;
    width: 200px;
    border-right: none;
    color: white;
    border-radius: 10px;
    text-align: center;
}

mat-sidenav-container {
    height: calc(100vh - 65px);
}
