.content-container {
  padding-top: 2rem;
  display: grid;
  place-items: center;
}

mat-sidenav {
    margin: 16px;
    width: 200px;
    border-right: none;
    color: #424242;
    border-radius: 4px;
    text-align: center;
}

mat-sidenav-container {
    height: calc(100vh - 65px);
}

mat-toolbar {
  position: relative;
  z-index: 2;
}
