<mat-card>
  <h3>Angular Version: {{angularVersion}}</h3>
  <h3>RxJS Version: {{rxjsVersion}}</h3>
  <mat-card-actions>
    <a mat-stroked-button href="https://v6.rxjs.dev/api" target="_blank">RxJS Official Docs <mat-icon [inline]="true">open_in_new</mat-icon></a>
    <a mat-stroked-button href="https://www.learnrxjs.io/" target="_blank">Learn RxJS <mat-icon [inline]="true">open_in_new</mat-icon></a>
    <a mat-stroked-button target="_blank" href="https://github.com/anas-mohd-nazlee/rxjs-playaround">
      <img src="https://material.angular.io/assets/img/homepage/github-circle-white-transparent.svg"/>
      Github
    </a>
  </mat-card-actions>
</mat-card>
