<div fxLayout="column" fxLayoutAlign="space-between" fxLayoutGap="20px">
  <app-target
    [targetLabel]="'Tap'"
    [description]="'Transparently perform actions or side-effects, such as logging.'"
    (sendMessage)="onPushMessage($event)"
    (finishSubject)="onCompleteSubject()"
    (createSubject)="onCreateSubject()"
    (disposeSubject)="onDisposeSubject()"
  >
    <div content fxLayout="row" fxLayoutGap="5px">
      <mat-form-field class="full-width-form" appearance="outline">
        <mat-label>Finalize Message</mat-label>
        <input matInput type="text" [(ngModel)]="finalizeMsg">
      </mat-form-field>
    </div>
  </app-target>
  <app-subscriber-parent
    [target$]="target$"
  >
  </app-subscriber-parent>
</div>
